- i = 0
- @fbs.me.home.data.each do |h|
  #infoBoxes
    #policy
      - if h[:type] != "link"
        %p{:class => "#{i.even?}" + "_l"} #{h.from.name}
        %p{:class => "#{i.even?}" + "_r"} #{h.message}
        - if h.comments != nil
          - if h.comments.data != nil
            - j = 0
            #comment
            - h.comments.data.each do |com|
              %p{:class => "#{j.even?}" + "_l"}
                "#{com.from.name} : #{com.message}"
              - j = j+1
        %a{:href => "#{h.actions[0].link}"}
          #{h.actions[0].name}
        |
        %a{:href => "#{h.actions[1].link}"}
          #{h.actions[1].name}
        %br
  - i = i +1
%a{:href => "#{@oauth_url}"}
  Link to Facebook
