- @fbs.me.home.data.each do |h|
  - if h[:type] != "link"
    #{h.from.name}
    %br
    #{h.message}
    %br
    -if h.comments != nil
      -if h.comments.data != nil
        - h.comments.data.each do |com|
          #{com.from.name}  -- #{com.message}
          %br
    %br
    %a{:href => "#{h.actions[0].link}"}
      #{h.actions[0].name}
    |
    %a{:href => "#{h.actions[1].link}"}
      #{h.actions[1].name}
    %br
%hr

%a{:href => "#{@oauth_url}"}
  Link to Facebook
