- @fbs.me.home.data.each do |h|
  %p
    #{h.from.name}
    #{h.message}
    = #{h.comments}
    %a{:href => "#{h.actions[0].link}"}
      #{h.actions[0].name}
      |
    %a{:href => "#{h.actions[1].link}"}
      #{h.actions[1].name}
%hr
= @fbs.me.home.data.first

%a{:href => "#{@oauth_url}"}
  Link to Facebook
