%p
  = @user.email
  = @user.name
%fb:profile-pic{:uid => fb[:user], :height => "25px", :width => "25px"}
%fb:name{:uid => fb[:user], :useyou => 'false'}

- @fbs.me.home.data.each do |h|
  %p #{h.from.name} #{h.message}

%fb:user-status{:uid => current_user.fb_uid, :linked => true}

= pp(@fbs.me.home)



%a{:href => "#{@oauth_url}"}
  Link to Facebook
