- @fbs.me.home.data.each do |h|
  #{h[:type]}
  #{h.from.name}
  %br
  #{h.message}
  %br
  -if h.comments != nil
    #{h.comments.count}
    %br
    -if h.comments.data != nil
      - h.comments.data.each do |com|
        #{com.from.name}  -- #{com.message}
        %br
  %br
  %a{:href => "#{h.actions[0].link}"}
    #{h.actions[0].name}
  |
  %a{:href => "#{h.actions[1].link}"}
    #{h.actions[1].name}
  %br

%hr
= @fbs.me.home.data.first

%a{:href => "#{@oauth_url}"}
  Link to Facebook
