#infoBoxes
  %form{:method => "post", :action => "/status"}
    %label{:for => "status"} Status
    %textarea{:id => "status" , :name => "status", :value =>"", :title =>"status"}
    %input{:id => "status", :value =>"status", :type => "submit", :class => "submit"}
  - @fbs.me.home.data.each do |h|
    - if h[:type] != "blabber"
      .statusBox
        - if fb[:user]
          .statusImg
            %fb:profile-pic{:uid => "#{h.from.id}", :height => "25px", :width => "25px"}
            %fb:name{:uid => "#{h.from.id}", :useyou => 'false'}
        - else
          .statusImg
          .false
            #{h.from.name}
        .status
          .false
            %p{:class => "false"} #{h.message}
            %p{:class => "false"} #{h.description}
            %p{:class => "false"}
              %img{:src => "#{h.picture}", :alt => "#{h.caption}"}
            %p{:class => "false"}
              %a{:href => "#{h.link}"} #{h.name}
        .clear
        - if h.comments != nil
          - if h.comments.data != nil
            .comment
            - h.comments.data.each do |com|
              - if fb[:user]
                %fb:profile-pic{:uid => "#{com.from.id}", :height => "25px", :width => "25px"}
                %fb:name{:uid => "#{com.from.id}", :useyou => 'false'}
              - else
                %p #{com.from.name}
              %p{:class => "true"}
                #{com.message}
        .false
          = partial("commentbox", :locals => {:id =>h.id})
          |
          %a{:href => "/like/#{h.id}"}
            -if h.actions
              #{h.actions[1].name}
          |
          - if h.comments != nil
            - if h.comments.data != nil
              #{h.comments[:count]}
      %br
%a{:href => "#{@oauth_url}"}
  Link to Facebook
